
    // {{&summary}}
    public static function {{&methodName}}($request) {
        $errors = [];
        {{#parameters}}
        {{> parameter}}
        {{/parameters}}
        return $errors;
    }
