
class {{&name}}Validator {
    public function check($data) {
        $errors = [];
        {{#tsType}}
        {{#properties}}
        {{> property}}
        {{/properties}}
        {{/tsType}}
        return $errors;
    }
}
